.jumbotron {
	height: 60vh;
	/*linear gradient to the img*/
	background:   linear-gradient(
      rgba(14, 91, 255, 0.6), 
      rgba(14, 91, 255, 0.6)
    )
    ,url(../../img/edinburgh.jpg);
    background-size: cover;
    display: flex;
}

@media (max-width:641px) {
    .jumbotron h1 {
       font-size: 2rem;
   
    }

    .jumbotron p {
        font-size: 1rem;
    
     }

}

.jumbotron .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.jumbotron button {

	background-color: rgba(14, 91, 255, 0.0) !important;
	border: 2px solid white;
}



